body{
    margin: 0px;
}
h1{
    margin: 0px;
    /* 16진수 숫자 #ffffff #fff #000(검정)#111*/
    background-color: #222;
    color: #fff;
    font-size: 2rem;
    padding:20px;
    display: inline-block;
}

ul{
    list-style: none;
    color: blue;
}